[submodule ".registry"]
	path = .registry
	url = https://github.com/murrayefford/murrayefford.r-universe.dev
	branch = HEAD
[submodule "ipsecr"]
	path = ipsecr
	url = https://github.com/MurrayEfford/ipsecr
[submodule "openCR"]
	path = openCR
	url = https://github.com/MurrayEfford/openCR
[submodule "overdispsim"]
	path = overdispsim
	url = https://github.com/MurrayEfford/overdispsim
[submodule "secr"]
	path = secr
	url = https://github.com/MurrayEfford/secr
[submodule "secrRFS"]
	path = secrRFS
	url = https://github.com/MurrayEfford/secrRFS
[submodule "secrdesign"]
	path = secrdesign
	url = https://github.com/MurrayEfford/secrdesign
[submodule "secrlinear"]
	path = secrlinear
	url = https://github.com/MurrayEfford/secrlinear
[submodule "secrpoly"]
	path = secrpoly
	url = https://github.com/MurrayEfford/secrpoly
