[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "openCR"]
	path = openCR
	url = https://github.com/murrayefford/opencr
	shallow = true
	registered = true
[submodule "secr"]
	path = secr
	url = https://github.com/murrayefford/secr
	shallow = true
	registered = true
