[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ipsecr"]
	path = ipsecr
	url = https://github.com/murrayefford/ipsecr
[submodule "openCR"]
	path = openCR
	url = https://github.com/murrayefford/opencr
[submodule "secr"]
	path = secr
	url = https://github.com/murrayefford/secr
[submodule "secrdesign"]
	path = secrdesign
	url = https://github.com/murrayefford/secrdesign
[submodule "secrlinear"]
	path = secrlinear
	url = https://github.com/murrayefford/secrlinear
